:root {
  --max-width: 900px;
  --color-golden-brown: #99621e;
  --color-raw-slenna: #d38b5d;
  --color-lemon-yellow: #f3ffb6;
  --color-russian-green: #739E82;
  --color-hunter-green: #2C5530;
  --font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size-xxl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-l: 1.125rem;
  --font-size-m: 1rem;
  --font-size-s: 0.875rem;
  --font-size-xs: 0.75rem;
  --space-xxxxl: 4rem;
  --space-xxxl: 2rem;
  --space-xxl: 1.5rem;
  --space-xl: 1.25rem;
  --space-l: 1rem;
  --space-m: 0.75rem;
  --space-s: 0.5715rem;
  --space-xs: 0.375rem;
  --space-xxs: 0.25rem;
  --space-xxxs: 0.125rem;
}

@media (min-width: 1281px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  html, body {
    font-size: 13px;
  }
}

h1, h2, h3 {
  line-height: 1;
  text-align: center;
  margin: var(--space-l) auto;
}

/* Header */
.site-header {
  padding: var(--space-xxxl) var(--space-xxl);
  width: 100%;
  max-width: var(--max-width);
}

.site-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255,255,255,0.85);
  padding: var(--space-xxl) var(--space-xl);
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(255,255,255,0.6);
}

.header-address-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-address-info span,
.header-address-info .disconnect-button {
  display: inline-flex;
  margin: 0 0 0 var(--space-s);
}

.header-address-info .header-account {
  line-height: 1;
  padding: var(--space-s);
  border: 1px solid;
  border-radius: 4px;
}

.header-address-info .disconnect-button span {
  margin: 0;
}

.wallet-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: var(--font-size-l);
  padding: var(--space-s) var(--space-m);
  margin-bottom: var(--space-xxl);
}

.wallet-icon {
  max-width: 1.8rem;
  margin-right: var(--space-s);
}

.site-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(159deg, rgba(49,211,213,1) 0%, rgba(253,187,45,1) 60%);
}

.site-body {
  flex: 1 0 auto;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--space-xxl);
}

.site-body-inner {
  background: rgba(255,255,255,0.85);
  padding: var(--space-xxl) var(--space-xl);
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(255,255,255,0.6);
  margin: 0 auto;
}

.asset-row {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  padding: var(--space-m);
  margin: auto;
}

.asset-info {
  display: flex;
  align-items: center;
}

.asset-info span {
  margin-left: var(--space-xs);
}

.footer {
  text-align: center;
  padding: var(--space-xxxl);
}

.footer a {
  color: black;
  font-weight: 600;
  transition: color 0.3s;
}

.footer a:hover {
  color: transparent;
  background: linear-gradient(159deg, rgba(51,49,213,1) 0%, rgba(253,45,170,1) 50%);
  background-clip: text;
  -webkit-background-clip: text;
}

.icon {
  width: 20px;
  height: 20px;
}

.loading-icon {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: var(--space-xxxl) auto;
}

.loading-icon span {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
    left: 0;
    border: 4px solid #aacc99;
    border-radius: 50%;
    border-top: 4px solid var(--color-hunter-green);
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}